/data/Fruit_dataset
/data/archive.zip
/infrastructure/postgres/data
/infrastructure/airflow/logs
/infrastructure/minio/data
/infrastructure/postgres/data
/infrastructure/postgres/data
infrastructure/airflow/config/airflow.cfg
/infrastructure/airflow/dags/__pycache__
.DS_Store
.vscode/launch.json
/data/dataset
data/dataset.zip
