[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu126"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = {version = "*", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}
numpy = "*"
notebook = "*"
ipykernel = "*"
matplotlib = "*"
apache-airflow = "==3.0.3"
airflow-provider-mlflow = "==1.1.0"
mlflow = "==3.1.1"

[dev-packages]

[requires]
python_version = "3.11"
